<nav id="navbar">
    <a href="#home">
        <img id="logonav" src="images/galaxylabslogo2.png" alt="galaxylabs Logo">
    </a>
        
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Services</a></li>
        <li><a href="/our-products">Products</a></li>
        <li><a href="/about-us">About Us</a></li>
    </ul>

    <!-- Hamburger Icon for Mobile -->
    <div class="hamburger" [class.active]="isMenuOpen" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Side Menu -->
    <div id="sideMenu" class="side-menu" [class.open]="isMenuOpen">
        <div class="side-menu-content">
            <a href="/" (click)="closeMenu()">Home</a>
            <a href="/discover" (click)="closeMenu()">Services</a>
            <a href="/our-products" (click)="closeMenu()">Products</a>
            <a href="/about-us" (click)="closeMenu()">About Us</a>
        </div>
    </div>
    
    <!-- Overlay for mobile menu -->
    <div class="menu-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
</nav>

