/* General container styling */
.container {
  margin: 0 auto;
}

/* Header styling */
header#home {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 280px 20px;
  top: -20%;
}

#logo {
  max-width: 1000px;
  margin-bottom: 20px;
}



.button, .learn-more {
  background-color: #013f8e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* About section styling */
#about {
  text-align: center;
  padding: 50px 20px;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.6;
}



/* Projects section styling */
#software-problem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

