<nav class="nav">
    <div class="nav__inner">
        <a class="nav__brand" routerLink="/" (click)="closeMenu()" aria-label="galaxylabs home">
            <img class="nav__logo" src="images/galaxylabsicon.png" alt="galaxylabs Logo" decoding="async">
        </a>

        <ul class="nav__links" aria-label="Primary navigation">
            <li><a routerLink="/">{{ 'nav.home' | translate }}</a></li>
            <li><a routerLink="/discover">{{ 'nav.services' | translate }}</a></li>
            <li><a routerLink="/our-products">{{ 'nav.products' | translate }}</a></li>
            <li><a routerLink="/about-us">{{ 'nav.aboutUs' | translate }}</a></li>
        </ul>

        <button
          class="nav__signout"
          type="button"
          *ngIf="isSignedIn"
          (click)="signOut()"
          [attr.aria-label]="'nav.signOut' | translate"
        >
          {{ 'nav.signOut' | translate }}
        </button>

        <!-- Hamburger Icon for Mobile -->
        <div class="hamburger" [class.active]="isMenuOpen" (click)="toggleMenu()" role="button" tabindex="0" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Side Menu -->
    <div class="side-menu" [class.open]="isMenuOpen">
        <div class="side-menu-content">
            <a routerLink="/" (click)="closeMenu()">{{ 'nav.home' | translate }}</a>
            <a routerLink="/discover" (click)="closeMenu()">{{ 'nav.services' | translate }}</a>
            <a routerLink="/our-products" (click)="closeMenu()">{{ 'nav.products' | translate }}</a>
            <a routerLink="/about-us" (click)="closeMenu()">{{ 'nav.aboutUs' | translate }}</a>
            <button class="side-signout" type="button" *ngIf="isSignedIn" (click)="signOut()">{{ 'nav.signOut' | translate }}</button>
        </div>
    </div>

    <!-- Overlay for mobile menu -->
    <div class="menu-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
</nav>
